#about {
    width: 100%;
    height: auto;
}

#about .title {
    margin: 60px 0 0 10%;
    width: 30%;
}

#about .title span {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    height: auto;
}

#about .subtitle {
    margin: 40px 0 0 10%;
    width: 40%;

}

#about .subtitle span {
    color: white;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

#about .container_img {
    width: 100%;
    margin-top: 150px;
}

#about .container_img img {
    width: 100%;
}

#about .benefits {
    position: absolute;
    background: rgba(255, 24, 107, 0.9);
    width: 80%;
    height: 200px;
    top: 1280px;
    margin-left: 10%;
    display: inline-table;
}

#about .column{
    float: left;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 25%;
}

#about .column_img{
    height: 119px;
    width: 119px;
}

#about .column_img img {
    height: 100%;
    width: 100%;
}