#top {
    width: 100%;
    height: 1000px;
}

#top .content {
    width: 100%;
    height: 800px;
    display: flex;
    vertical-align: center;
    align-content: center;
    z-index: 10;
}

#top .container_img {
    position: absolute;
    width: 60%;
    margin-left: 40%;
    height: auto;
    margin-top: 8%;
    z-index: 5;
}

#top .container_img img {
    position: relative;
    width: 100%;
    height: 100%;
}

#top .container_text {
    position: relative;
    height: 80%;
    width: 60%;
    margin: 8% 0 8% 10%;
    float: left;
    z-index: 10;
}

#top h1 {
    position: relative;
    font-size: 65px;
    width: 60%;
    color: white;
    font-family: 'Rubik', sans-serif;
    z-index: 10;
}

#top .title {
    margin-top: 10%;
}

#top .subtitle {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 15;
    box-sizing: border-box;
}

#top .subtitle_img {
    position: relative;
    margin-top: 20px;
    float: left;
    width: 150px;
    height: auto;
    z-index: 15;
}

#top .subtitle_img img {
    width: 100%;
    height: auto;
}

#top .subtitle_h3 {
    position: relative;
    width: auto;
    height: auto;
    color: rgba(255, 24, 107, 1);
    float: left;
    margin-left: 30px;
    font-size: 93px;
    font-family: 'Goldman', cursive;
    font-weight: 400;
    overflow: visible;
    z-index: 15;
    box-sizing: border-box;
}

#top .subtitle .subtitle_h2 {
    position: relative;
    width: 60%;
    margin-left: 30px;
    color: white;
    float: left;
    z-index: 15;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 3px;
}

#top .container_img.hidden {
    z-index: 1;
}

#top .action {
    position: absolute;
    height: auto;
    width: 70%;
    top: 630px;
    justify-content: space-between;
    z-index: 20;
}

#top .action span {
    position: absolute;
    color: white;
    width: auto;
    height: 16px;
    font-size: 12px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
    z-index: 20;
    text-align: center;
    top: 50%;
    margin-top: -8px;
    margin-left: 35%;
}

#top .action button {
    position: relative;
    float: right;
    width: 262px;
    height: 75px;
    background: #FF186B;
    z-index: 20;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

#top .action button:hover{
    box-shadow: 0 0 20px rgba(255, 24, 107, 0.6);
    transition: 0.3s ease 0s;
}

@media (min-width: 1680px) {
    #top .action {
        width: 60%;
        top: 700px;
    }
}



@media (max-width: 1280px) and (min-width: 768px){
    #top h1 {
        font-size: 50px;
    }

    #top .subtitle_img {
        width: 124px;
        margin-top: 15px;
    }

    #top .subtitle_h3 {
        font-size: 68px;
    }

    #top .subtitle .subtitle_h2 {
        font-size: 8px;
    }

    #top .action {
        top: 500px;
    }

    #top .action span {
        margin-left: 23%;
    }

    #top .action button {
        width: 220px;
        height: 60px;
    }
}